.tournament-list {
  list-style: none;
}
.tournament {
  position: relative;
  border: 3px solid var(--secondary-color);
  padding: 10px 10px;
  margin-bottom: 10px;
  &__date {
    position: absolute;
    right: 10px;
    top: 2px;
    color: var(--secondary-color);
  }
  &__title {
    color: var(--secondary-color);
  }
}
