:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-color: #ff6a00;
  --secondary-color: #7e7e7e;
  --secondary-color-active: #a3a2a2;
  --correct-color: #008000;
  --error-color: #b82909;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  padding: 15px 20px;
  margin: 0 auto;
}

.button {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 5px 30px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  text-decoration: none;
  transition: background-color 0.2s ease-out;
  &:hover {
    background-color: var(--secondary-color-active);
  }
}

@import "./blocks/header.scss";
@import "./blocks/tournaments.scss";
@import "./blocks/auth.scss";
@import "./blocks/start.scss";
@import "./blocks/error.scss";
